footer {
    padding: 1rem;
    background-color: var(--color-bg-variant);
    color: var(--color-text);
  }
  
  .footer__info,
  .footer__links,
  .footer__social,
  .footer__copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .footer__links a,
  .footer__social a {
    margin: 0 0.5rem;
  }

/* ====== MEDIA QUERIES (SMALL DEVICES) ========= */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__social {
        margin-bottom: 2.6rem;
    }
}

